@import "tailwindcss";

@theme {
  --color-light-red: #ff0044;
  --color-dark-red: #b30d39;
  --color-light-gray: #ccc8c9;
  --color-medium-gray: #9e9a9a;
  --color-dark-gray: #4e4e4e;
}

main {
  background-color: #151515;
  min-height: 100vh;
  color: white;
}

main p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #151515;
}

::-webkit-scrollbar-thumb {
  background-color: #868686;
  border-radius: 40px;
}
